/* css reset */
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url("../images/background-tile.svg");
}

body > * {
    background: rgba(255, 255, 255, 0.8);
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(169, 169, 169, 0.97);
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    display: flex;
    box-shadow: 0px 3px 3px black;
}

#logo {
    font-size: 4em;
}

nav {
    margin-left: auto;
    display: flex;
}

nav div {
    height: 100%;
    padding: 0 20px;
    font-size: 2em;
    line-height: 2em;
    vertical-align: middle;
    user-select: none;
}

header div:hover {
    background: slategray;
}

header div:active {
    background: darkslategray;
}

a:link, a:visited {
    color: black;
}

main {
    margin: auto;
    max-width: 960px;
    height: 200vh;
    border-left: solid black 1px;
    border-right: solid black 1px;
    background-color: rgba(211, 211, 211, 0.8);
    padding: 10px
}

#languages {
    padding: 20px;
    width: 480px;
    display: flex;
}

#languages img {
    margin-right: 20px;
    height: 100px;
}

footer {
    font: 1em;
    background: darkgray;
    border-top: solid black 1px;
    position: sticky;
    bottom: 0px;
}