/* css reset */
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background: black;
}

main {
    margin: 0 auto;
    max-width: 1140px;
    height: 200vh;
    padding: 0 10px
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: right;
}

nav div {
    padding: 20px 15px;
    vertical-align: middle;
    user-select: none;
}

nav a:hover {
    background: darkslategray;
}

nav a:active {
    background: slategray;
}

a:link, a:visited {
    color: white;
}

main > div {
    padding-top: 40vh;
    padding-bottom: 10vh;
}

#about {

}

#heading {
    font-size: 4em;
}

#subheading {
    font-size: 2em;
}

#languages {
    padding: 20px;
    width: 480px;
    display: flex;
}

#languages img {
    margin-right: 20px;
    height: 100px;
}

#projectlinks {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#projectlinks div {
    margin-right: 20px;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

#projectlinks img {
    height: 100px;
}